<div class="container menu">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="/boats" class="thumbnail">
                <img src="img/boat-info.png" alt="Boat Info">
                <h4 class="text-center">BOAT INFO</h4>
            </a>
            <a href="/boats" class="thumbnail">
                <img src="img/maintenance.png" alt="Trip Log">
                <h4 class="text-center">MAINTENANCE LOG</h4>
            </a>
            <a href="/boats" class="thumbnail">
                <img src="img/task-list.png" alt="Trip Log">
                <h4 class="text-center">TASK LIST</h4>
            </a>
        </div>
                <div class="col-xs-6 col-md-3">
            <a href="/boats" class="thumbnail">
                <img src="img/trip-log.png" alt="Boat Info">
                <h4 class="text-center">TRIP LOG</h4>
            </a>
            <a href="/boats" class="thumbnail">
                <img src="img/fuel.png" alt="Trip Log">
                <h4 class="text-center">FUEL LOG</h4>
            </a>
            <a href="/boats" class="thumbnail">
                <img src="img/run-report.png" alt="Trip Log">
                <h4 class="text-center">RUN REPORT</h4>
            </a>
        </div>
    </div>
</div>
