<div class="container">
<h1>New Boat</h1>

<form ng-submit="createBoat()">
  <div class="form-group">
    <label for="title">Name</label>
    <input type="text" class="form-control" id="title" ng-model="boat.title">
  </div>
  <div class="form-group">
    <label for="description">Make</label>
    <textarea class="form-control" id="description" ng-model="boat.description"></textarea>
  </div>
  <div class="form-group">
    <label for="image">Image Link</label>
    <input type="url" class="form-control" id="image" placeholder="" ng-model="boat.image">
  </div>

  <button type="submit" class="btn signup">Submit</button>
</form>
</div>