<a href="/boats" class="back-button">&larr; Back</a>
<div class="container boatShow">

<!-- <div class="well">
<h1>{{boat.name}}</h1>
  <p>
    {{boat.make}}
  </p>
  <img class="img-responsive" ng-src="{{boat.image}}">
</div> -->
  <img class="img-responsive" ng-src="{{boat.image}}">

<div id="accordion">
  <h3>Boat Info</h3>
  <div>
    <ul>
      <li>Name: {{boat.name}}</li>
      <li>Make: {{boat.make}}</li>
      <li>Model: {{boat.model}}</li>
    </ul>
  </div>
  <h3>Section 2</h3>
  <div>
    <p>
    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
    purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
    velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
    suscipit faucibus urna.
    </p>
  </div>
  <h3>Section 3</h3>
  <div>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>Section 4</h3>
  <div>
    <p>
    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
    mauris vel est.
    </p>
    <p>
    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos.
    </p>
  </div>
</div>
</div>

