<a href="/trips" class="back-button">&larr; Back</a>
<div class="container boatShow">

<div class="row show-view">
<div class="col-md-6">
  <img class="img-responsive" ng-src="{{trip.image}}">
  </div>
  <div class="col-md-6">
      <ul>
      <li class="boat-name">{{trip.title}}</li>
      <li>Start Date: {{trip.startdate}}</li>
      <li>End Date: {{trip.enddate}}</li>
      <li>Start Time: {{trip.starttime}}</li>
      <li>End Time: {{trip.endtime}}</li>
      <li>Departure: {{trip.departure}}</li>
      <li>Destination: {{trip.destination}}</li>
     
    </ul>
  </div>
</div>

<div id="accordion">
  <h3>Dimensions</h3>
  <div>
      <ul>
      <li>Engine Hours: {{trip.enginehours}}</li>
      <li>Speed: {{trip.speed}}</li>
      <li>Wind Speed: {{trip.windSpeed}}</li>
      <li>Wind Direction: {{trip.windDirection}}</li>
    </ul>
  </div>
</div>
</div>

