<a href="/menu" class="back-button">&larr; Back</a>
    <h1 class="text-center">Trips</h1>
<div class="container all-boats">
<div class="row">
</div>

  <div id="pattern" class="pattern">
    <ul class="list img-list">
      <li class ="show-view" ng-repeat="trip in trips track by trip._id">
        <a ng-href="/trips/{{trip._id}}" class="inner">
          <div class="li-img">
            <img class="img-responsive" ng-src="{{trip.image}}">
          </div>
          <div class="li-text">
            <h4 class="li-head">{{trip.title}}</h4>
            <p class="li-summary eventDate">{{trip.startdate | date:'MMM d, y'}} - {{trip.enddate | date:'MMM d, y'}}</p>
            <p class="li-action btn btn-danger glyphicon glyphicon-pencil " ng-click="editTrip(trip._id, $index)"></p>
            <p class="li-action btn btn-danger glyphicon glyphicon-trash " ng-click="deleteTrip(trip._id, $index)"></p>
          </div>
        </a>
      </li>
    </ul>
  </div>
<!-- NEW BOAT BUTTON -->
<div class="user-cta">
  <div class="row">
  <div class="container-fluid">
<a href="/trips/new" class="btn signup">New Trip</a>
  </div>
  </div>
</div>
</div>